dist
node_modules
.idea
package-lock.json
out
export
*.js
*.d.ts
dev.patch
.scannerwork
certs
update.key
docs
coverage
data
.npmrc
*.tgz
swagger.html
/.env
/junit.xml
/openapi.json
/gen/
/tests/run.ts
/AdventOfCode23.iml
